*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

button {
  all: unset;
  cursor: pointer;
}

:root {
  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 450px;
}

.heading {
  line-height: 1.2;
  color: white;
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.displayContainer {
  position: relative;
  background-color: #3500d3;
  border-radius: 0.5rem;
  padding-top: 0.35rem;
  margin: 1rem 0;
  box-shadow: 2px 2px 3px white;
}

.displayContainer input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1.15rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
}

.displayContainer input::placeholder {
  color: white;
  text-transform: uppercase;
  opacity: 0.65;
  font-size: 1.5rem;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.copyBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}
span.copyMessage{

  color:white;
}

.inputContainer {
  background-color: #282828;
  box-shadow: 2px 2px 3px white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
}

.lengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lengthContainer p:nth-child(1) {
   color: white;
  font-size: 1.5rem;
}

.lengthContainer p:nth-child(2) {
 color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.slider {
  appearance: none;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  height: 0.75rem;
  background-color: #3500d3;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider:focus {
  outline: 1px solid white;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #3500d3;
  box-shadow: 0px 0px 5px 0px white;
  transition: all 100ms ease-in;
  cursor: pointer;
  margin-top: -3px;
  z-index: 2;
  position: relative;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 2px 3px white;
}

.check {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.check label {
  text-transform: capitalize;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
}

.check input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--vb-cyan);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}

.check input:checked {
  background-color: var(--vb-cyan);
}

.check input:checked::before {
  position: absolute;
  content: "✔";
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  top: -3.5px;
}

.strengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}

.strengthContainer p {
  color: white;
  font-size: 1.5rem;
}

.indicator {
  width: 1.5em;
  height: 1.5rem;
  border-radius: 50%;
}

#generateBtn {
  background-color: #3500d3;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}